<nav class="navbar navbar-dark bg-primary">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Productos</a>
            <a class="dropdown-item" href="#">categorias</a>
            <a class="dropdown-item" href="#">productores</a>
            <a class="dropdown-item">
                <div class="form-group">
                    <select name="departamento" class="form-control">
                      <option value="0">departamento</option>
                      <option *ngFor="let departamento of states" [value]="departamento.isoCode">
                        {{departamento.name}}
                      </option>
                    </select>
                  </div>
            </a>
            <a class="dropdown-item" href="#">ciudad</a>
        </div>
    </div>
    <a class="navbar-brand" href="#">
        <img src="../../../assets/logo-uam.png" width="auto" height="40" class="d-inline-block align-top" alt="">
        AgroNet
    </a>
    <div class="form-inline">
        <a href="registro" *ngIf="showHeader">
            <button class="btn btn-success" type="submit">Registrarse</button>
        </a>
        <a href="">
            <button class="btn btn-secondary" type="submit">Ingresar</button>
        </a>
    </div>
</nav>
