<nav class="navbar navbar-dark bg-primary">
    <div class="navbar-header">
        <button class="navbar-toggle btn btn-primary dropdown-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse" type="button" id="dropdownMenuButton">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <a class="navbar-brand" href="#">
        <img src="assets/logo-agronet.svg" width="auto" height="40" class="d-inline-block align-top" alt="">
        AgroNet
    </a>
    <div class="form-inline">
        <a routerLink="/registro" *ngIf="showHeader">
            <button class="btn btn-success">Registrarse</button>
        </a>
        <a routerLink="/login">
            <button class="btn btn-secondary">Ingresar</button>
        </a>
    </div>
</nav>


<div class="dropdown">
    <div style="width: 10rem;">
        <nav class="navbar navbar-dark">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-secondary">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Productos</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Productores</a></li>
                    <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target=".nabar-estados">
                            departamento<b class="caret"></b>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target=".nabar-ciudades">
                            ciudad <b class="caret"></b>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<nav class="navbar nabar-estados">
    <div class="navbar-header">
        <ul class="dropdown-menu">
            <li *ngFor="let state of states">
                <a type="button" (click)="estadoSeleccinado(state.isoCode)">{{state.name}}</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar nabar-ciudades">
    <div class="navbar-header">
        <ul class="dropdown-menu">
            <li *ngFor="let city of ciudades">
                <a type="button" (click)="ciudadSeleccinada(city.name)">{{city.name}}</a>
            </li>
        </ul>
    </div>
</nav>
