.styleSearch{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 3rem;
}

.nav-link
{
    font-size: x-large;
    text-transform: uppercase;
}

.nav-item
{
    margin-left: 2%;
}