<nav class="navbar navbar-dark bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#foodie-navbar" aria-controls="foodie-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="../../../assets/logo-uam.png" width="auto" height="50" class="d-inline-block align-top" alt="">
        AgroNet
    </a>
    <div class="form-inline">
        <a href="registro">
            <button class="btn btn-success" type="submit">Registrarse</button>
        </a>
        <a href="">
            <button class="btn btn-secondary" type="submit">Ingresar</button>
        </a>
    </div>
</nav>
