<div class="modal" id="aboutModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>AgroNet</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <h3>
                   Somos una empresa de Manizales enfocada al area de la agricultura 
                   con el fin de eliminar intermediadiarios, mejorando la calidad de 
                   los productos, tambien ganancias para el productor y disminuyendo 
                   costos para el cliente.
               </h3>
            </div>
            <div class="modal-footer centrar">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>