<div class="modal" id="productModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{article.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="card-text">{{article.price}}</h6>
                <img [src]="article.image_url" alt="Card image" width="90%">
                <p class="card-text">{{article.description}}</p>
            </div>
            <div class="modal-footer centrar">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>