<div size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" class="card" style="width: 18rem; margin-top: auto;">
    <img [src]="product.image_url" alt="Card image">
    <h6 class="card-text">{{ product.name }}</h6>
    <div class="card-body">
        <h5 class="card-title">{{ product.price }}</h5>
        <p class="card-text">{{ product.description }}</p>
    </div>
    <div class="card-footer centrar">
        <div class="row">
            <div class="col-sm-6">
                <button mat-raised-button color="primary" (click)="addProduct(product)">
                    Agregar
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="col-sm-6">
                <button mat-raised-button color="success">
                    Ver Detalle
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
            </div>
        </div>

        <!-- <a class="btn btn-outline-primary my-2 my-sm-0" type="submit" href="registro">
            <img src="../../../assets/add-icon.png" width="auto" height="30" class="d-inline-block align-top" alt="">
        </a>
        &nbsp;
        <a class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="articuloSelected()" data-toggle="modal" data-target="#productModal">
            <img src="../../../assets/más-info-icon.png" width="auto" height="30" class="d-inline-block align-top"
                alt="">
        </a> -->
    </div>
</div>
<!-- <app-productmodal [article]="article"></app-productmodal> -->
