mat-card {
    margin: auto;
    padding: auto;
    width: 60%;
    margin-top: 20px;
}

.input-block {
    width: 90%;
}

.mat-card {
    background-color: rgb(228, 235, 240);
}

button {
    margin: 5px;
}