<!-- <app-header></app-header> -->

<mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" formControlName="email" name="email" class="form-control" id="email"
                aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" formControlName="password" name="password" id="password" class="form-control"
                aria-describedby="emailHelp" placeholder="Enter Password">
        </div>
        <div class="form-group">
            <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
        </div>
        <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
        </div>

        <div class="form-group">
            <p class="text-center">Don't have account? <a href="/signup" id="signup">Sign up here</a></p>
        </div>
    </form>
    </mat-card-content>
</mat-card>