<ul class="navbar-nav rounded ml-auto">
    <nav class="navbar navbar-dark bg-light" >
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                <img src="../../../assets/serach-icon.png" width="20" height="20"
                    class="d-inline-block align-top" alt="">
            </button>
        </form>
    </nav>
</ul>       
<div class="row">
    <div class="col-sm-3 mt-3" *ngFor="let product of products">
        <app-producto [product]="product"></app-producto>
    </div>
</div>